.form-wrapper {
    background-color: #365AB4;
    max-width: 500px;
    padding:  1rem 2rem;
    margin: 2rem auto;
    border-radius: 5px;
}

.form-title {
    margin: 0 0 1rem 0;
    color: white;
}

.form {
    color: white;
}