.form-wrapper {
    background-color: #365AB4;
    max-width: 500px;
    padding:  1rem 2rem;
    margin: 2rem auto;
    border-radius: 5px;
}
.header-link {
    text-decoration: none;
    color: #365AB4;
}
.form-title {
    margin: 0 0 0.5rem 0;
    color: white;
}

.form {
    color: white;
}
.form input {
    height: 37px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.fieldset-name {
    margin-bottom: 2rem;
}
.input-container {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem;
}

.input-label {
    font-size: 14px;
}

.fieldset-adress {
    margin-bottom: 1rem;
}

.dropdown-menu {
    color: #365AB4;
}